.header {
    position: absolute;
    text-align: center;
    padding: 1vw;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #c5b358;
    border-bottom-style: solid;
    border-bottom-width: 24px;
    border-color: black;
}
    #header-title {
        font-family: 'Caudex', serif;
        font-size: 48px;
    }