.header {
    position: absolute;
    text-align: center;
    padding: 1vw;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #c5b358;
    background-position: center;
}
    #header-title {
        background-color: black;
        opacity: 0.5;
        font-family: 'Caudex', serif;
        font-size: 48px;
    }